@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: var(--color-default); */
  font-family: "Inter";
  font-style: normal;
  height: 100vh;
  font-family: "PT Sans", sans-serif;
}

/* :root {
  --color-default: #f5f5f5;
} */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-default: #252b30;
  }
}
[data-theme="dark"] {
  --color-default: #252b30;
}
[data-theme="black"] {
  --color-default: #000000;
}
[data-theme="🌸"] {
  --color-default: #ffabc8;
}
[data-theme="🐬"] {
  --color-default: #7ec6ff;
}
[data-theme="🐤"] {
  --color-default: #ffd65a;
} */
