@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: var(--color-default); */
  font-family: "Inter";
  font-style: normal;
  height: 100vh;
  font-family: "PT Sans", sans-serif;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
